# ================================
# Ambiente virtual
# ================================
venv/
.env

# ================================
# Arquivos temporários do Python
# ================================
__pycache__/
*.pyc
*.pyo

# ================================
# Arquivos do Streamlit
# ================================
.streamlit/

# ================================
# Sistema operacional
# ================================
.DS_Store
Thumbs.db

# ================================
# Editor / IDE
# ================================
.vscode/
.idea/

# ================================
# Logs
# ================================
*.log

